@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="margin-top:40px">
    <h1 class="display-3">Reviews and Complaints Management System</h1>
    <p class="lead">
        RCMS is a web application that allows you to control all transactions and exchanges that occur between
        Customers, Organizations and Labor. If you're here, it is highly likely that you have an account. If not,
        you can contact our DBA.
    </p>
</div>

<div class="row">
    <div class="col-md-4 border-primary">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a class="btn btn-lg btn-block btn-outline-primary" href="Customers/LoginOrRegister">Customer</a></h4>
                <p class="card-text">
                    You're important to us. That is why we provide you with the easiet
                    and simplest interface out there. Here you can Login as a customer and Make Complaints against
                    an organization. You can also make reviews and rate any organization. Your payments are securely transferred
                    through our most reliable networks.
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 border-primary">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a class="btn btn-lg btn-block btn-outline-primary" href="Organizations/LoginOrRegister">Organization</a></h4>
                <p class="card-text">
                    Organization is a large group of persons united to achieve any task  Organization structure deals with the overall organizational arrangement in an enterprise. We prioritize
                    all updating all your workforce and payment statuses so that you can save time and improve profits
                </p>
            </div>
        </div>
    </div>
    <div class="col-md-4 border-primary">
        <div class="card border-primary mb-3" style="max-width: 20rem;">
            <div class="card-body">
                <h4 class="card-title"><a class="btn btn-lg btn-block btn-outline-primary" href="Labors/LoginOrRegister">Labor</a></h4>
                <p class="card-text">
                    Labors are the back-bone of any business. We are constantly updating our databse to make sure that
                    you can access the most recent and relevant information about the assignments and the status of Complaints.
                    Your payments are securely transferred through our most reliable networks.
                </p>
            </div>
        </div>
    </div>
</div>